main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
}

header {
  position: fixed;
}

ul {
  list-style: none;
}

#photo-template {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  margin: 0.5em;
  padding: 0.5em;
  width: 400px;
}

 img {
  max-width: 100%;
}